h1 ENTRADAS APROBADAS
p Por favor, tome nota de
  - if (ticket.special_codes.length > 1)
    |  los siguientes códigos:
  - else
    | l siguiente código:
p(style="margin-left: 20px; font-weight:bold; color: #113C7C")= ticket.special_codes.join(', ')
p
  | Se le entregó un código por cada entrada solicitada,
  |  deberá presentar estos códigos el día del evento para poder entrar a las instalaciones,
  |  si se le presenta algún problema, no dude en comunicarse con nosotros respondiendo a este correo.
h2 Solicitud:
p
  | El día
  - var date = new Date(ticket.payment_date)
  = ' ' + date.getDate() + '/' + (date.getMonth()+1) + '/2012,'
  = ' ' + ticket.name + ' ' + ticket.last_name + ','
  |  cédula de identidad
  |  #{ticket.cedula},
  |  correo electrónico
  |  #{ticket.email},
  - if (ticket.organization)
    |  de la organización
    |  #{ticket.organization},
  - if (ticket.city)
    |  de la ciudad
    |  #{ticket.city}
  |  ha realizado un
  if (ticket.type_of_payment == 'transferencia')
    = 'a'
  |  #{ticket.type_of_payment},
  |  número
  |  #{ticket.payment_number},
  |  con un monto total de
  |  #{ticket.payment_ammount} Bs
  |  por la solicitud de:
  ul
    li
      = ticket.tickets_stud
      |  entradas para estudiantes.
    li
      = ticket.tickets_else
      |  entradas para público en general.
  br
  br
  | Gracias por tu paciencia y ¡Te esperamos el 30 de Junio en Casa Italia!
  br
  br
  | Equipo del CNIT
  br
  a(href='http://cnit.org.ve/') http://cnit.org.ve
