h1 ENTRADAS APROBADAS
p
  | El día
  - var date = new Date(ticket.payment_date)
  = ' ' + date.getDate() + '/' + (date.getMonth()+1) + '/2012,'
  = ' ' + ticket.name + ' ' + ticket.last_name + ','
  |  cédula de identidad
  |  #{ticket.cedula},
  |  correo electrónico
  |  #{ticket.email},
  - if (ticket.organization)
    |  de la organización
    |  #{ticket.organization},
  - if (ticket.city)
    |  de la ciudad
    |  #{ticket.city}
  |  ha realizado un
  if (ticket.type_of_payment == 'transferencia')
    = 'a'
  |  #{ticket.type_of_payment}
  |  con un monto total de
  |  #{ticket.payment_ammount} Bs
  |  por la solicitud de:
  ul
    li
      = ticket.tickets_stud
      |  entradas para estudiantes.
    li
      = ticket.tickets_else
      |  entradas para público en general.
  | Gracias por tu paciencia y ¡Te esperamos el 30 de Junio en Casa Italia!
  br
  br
  | Equipo del CNIT
  br
  a(href='http://cnit.org.ve/') http://cnit.org.ve
